﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/CSS/MyCSS.css" rel="stylesheet" />
</head>
<body>
    <div>
    </div>
    @RenderBody()
</body>
</html>
